WEBHOOK_DISCORD=1496263878924042352/pBU_4WeRnyQ4qMX7fTAxs_A4TmwiQQBE46FjXHlF1-Ue6ObRueFBB-xxxxxxxx
URL_DISCORD=https://discord.com/api/webhooks
PROJECTS_MODRINTH=["n2yxxxx"]
TOKEN_MODRINTH=mrp_iVsIudKtEIhqGugRO5fqPcu9ivRGUCjjxgW5UqKNwpp77Gxeqv0hxxxx
SERVER_PORT=3001
DEFAULT_PWD=123456789
JWT_SECRET=bot-secret
DEFAULT_EMAIL=meu-test@email.com
